<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/icon.png">
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>{% block metatitle %}{% endblock %} | Aurum Academy</title>
  </head>

  <body class='flex-column'>

    <div class='flex-header nav'>
      <div class='nav-left'>
        {% block nav %}
          <a href='/' class='nav-item' id='home' aria-label='Home'><</a>
        {% endblock %}
      </div>
      <div class='nav-center title'>
          {% block title %}{% endblock %}
      </div>
      <div class='nav-right'>
      </div>
    </div>
    <div class='flex-body'>
      {% block content %}
      {% endblock %}
      <div id='text'></div>
    </div>

  </body>

  {% block scripts %}{% endblock %}
 
</html>